.OuterWrapper{
    display: flex;
    padding: 16px;

    .ChatWrapper {
        margin-left: 10px;
        margin-top: 10px;
        

        p {
            margin: 0;
            text-align: start;
        }

        .Title {
            font-size: 1.1rem;
        }

        .Message {
            font-size: 0.8rem;
            font-weight: lighter;
        }
    }
}