@import "node_modules/include-media/dist/include-media";

$formHeight: 30px;
$bottomPosFactor: 2.5vh;
$chatAreaWidth: 600px;
$chatAreaWidthFixed: 400px;

.ChatContainerWrapper{
  background-color: #49515f;
  width: $chatAreaWidth;
  height: 95vh;

  @include media("<=1200px") {
      width: $chatAreaWidthFixed;
  }

  .ChatForm {
        position: fixed;
        bottom: $bottomPosFactor;
        width: calc(#{$chatAreaWidth} - 5vw);
        padding: 0.5rem 0;
        height: $formHeight;
        overflow: hidden;
        left: calc((100vw - #{$chatAreaWidth})/2 + 50px);
        display: inline-flex;

        @include media("<=1200px") {
            width: $chatAreaWidthFixed;
            left: calc((100vw - #{$chatAreaWidthFixed})/2 + 12px);
        }

        input {
            width: 85%;
            padding: 5px;
            border-radius: 10px;
            outline: none;
            border: none;
        }

        img {
            display: inline;
            height: 20px;
            margin: 5px 10px ;
        }
    }

    .MessageContainer {
        position: fixed;
        bottom: calc(#{$bottomPosFactor} + #{$formHeight} + 10px);
        display: grid;
        width: $chatAreaWidth;
        padding-bottom: 10px;

        @include media("<=1200px") {
            width: $chatAreaWidthFixed;
        }
    }
}
