@import "node_modules/include-media/dist/include-media";

$formHeight: 30px;
$bottomPosFactor: 2.5vh;
$chatAreaWidth: 500px;
$chatAreaWidthFixed: 400px;
$widthFactor: 40px;
$containerWrapperHeight: 95vh;

.ChatContainerWrapper{
  background-color: #49515f;
  width: $chatAreaWidth;
  height: $containerWrapperHeight;
  position: relative;
  display: flex;

  @include media("<=1200px") {
      width: $chatAreaWidthFixed;
  }

  .ChatForm {
        position: absolute;
        bottom: $bottomPosFactor;
        width: $chatAreaWidth;
        height: $formHeight;
        overflow: hidden;
        left: 8px;
        display: inline-flex;
        justify-content: center;

        @include media("<=1200px") {
            width: calc(#{$chatAreaWidthFixed} - #{$widthFactor} + 35px);
        }

        input {
            width: 85%;
            padding: 5px;
            border-radius: 10px;
            outline: none;
            border: none;
        }

        img {
            display: inline;
            height: 20px;
            margin: 5px 10px ;
        }
    }

    .MessageContainer {
        position: absolute;
        bottom: calc(#{$bottomPosFactor} + #{$formHeight} + 10px);
        display: flex;
        flex-direction: column-reverse;
        width: $chatAreaWidth;
        padding-bottom: 10px;

        height: calc(#{$containerWrapperHeight} - 50px - #{$formHeight} - 50px);
        overflow-y: auto;

        @include media("<=1200px") {
            width: $chatAreaWidthFixed;
        }
    }
}
