.SearchComponentWrapper {
    margin-top: 10px;
    margin-bottom: 15px;

    .Icon {
        color: #282c34;
        margin-left: 5px;
        margin-top: 5px;
        width: 12px;
        vertical-align: sub;
        cursor: pointer;
    }
    
    input {
        width: 80%;
        outline: none;
        padding: 5px;
        border-radius: 10px;
        border: none;
    }
}
